SIP over websockets connection breaks

Hello,

i´ve got "SIP over websockets" running with an Kamailio in the backend which is working good. But somehow after about 15 to 30 seconds the ws-connection breaks.

I was capturing the requests with wireshark and saw that after a few seconds running a call, baresip tries to send another TCP <SYN> request to the internal IP of the Kamailio which is behind a NAT. This requests seems to break the connection after 10 times of RE-Transmitting the request which leads to ("Connection reset by peer"). Is it another try to establish a handshake?

Can someone help?

BR,
donald

can you please share the Wireshark trace and also baresip config and log ?


can you please edit the comment and reformat the log so that it is one logline per line ?
also the log does not contain any info from baresip.

can you also share your ~/.baresip/accounts file ?


many thanks for the logs and info.

The Websocket protocol has a built-in ping/pong keepalive mechanism
which should keep the TCP-connection up. According to the patch this
interval should be around 15 seconds:

https://gist.github.com/alfredh/227f9ef4ee4b0203a647ff5e723b5493#file-re-sip-websock-patch-L417

this value should be low enough to keep all NAT flows open
from the client to the server.

can you please verify with Wireshark that the Ping/Pong is sent
on a regular basis, and that your server is responding ?

in addition to that it is probably wise to force all SIP traffic through
the proxy by using the outbound parameter:

please try to add this to your account:

```
;outbound="sip:my.kamail.io;transport=wss";sipnat=outbound
```

it should also send a periodic Ping/Pong on the SIP layer.

also you can try to lower the SIP register interval
to e.g. 1 or 2 minutes:

```
;regint=120
```

for some reason the connection is closed, please use Wireshark
to try to see who is closing the connection (client or server).
perhaps also look at the server logs in real-time to look for any loglines
explaining why the connection is closed (if closed by server).

I see that you are running this on Android. Does the same happen if you run baresip
on e.g. Linux with a clean internet connection (WiFi or Ethernet) ?


Alfred

Alfred E. Heggestad writes:

> The Websocket protocol has a built-in ping/pong keepalive mechanism
> which should keep the TCP-connection up.

TCP protocol itself has built-in keepalive mechanism at least in Linux
and Android TCP implementations.

I just checked and my Android app sent keepalives to registrar at
intervals of about 60 sec (below is dump of two such keepalives).  So I
wonder why would anything else be needed?

I haven't been able to test the keepalives on Android yet when Websocket
transport is used.

```
No.     Time        Source                Destination           Protocol Length Info
      8 09:53:21.05 192.168.43.16         192.168.43.98         TCP      72     48968 → 5060 [PSH, ACK] Seq=1115 Ack=872 Win=419 Len=4 TSval=154057630 TSecr=1288402990

Frame 8: 72 bytes on wire (576 bits), 72 bytes captured (576 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.16, Dst: 192.168.43.98
Transmission Control Protocol, Src Port: 48968, Dst Port: 5060, Seq: 1115, Ack: 872, Len: 4

No.     Time        Source                Destination           Protocol Length Info
      9 09:53:21.05 192.168.43.98         192.168.43.16         TCP      68     5060 → 48968 [ACK] Seq=872 Ack=1119 Win=335 Len=0 TSval=1288461421 TSecr=154057630

Frame 9: 68 bytes on wire (544 bits), 68 bytes captured (544 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.98, Dst: 192.168.43.16
Transmission Control Protocol, Src Port: 5060, Dst Port: 48968, Seq: 872, Ack: 1119, Len: 0

No.     Time        Source                Destination           Protocol Length Info
     10 09:53:21.05 192.168.43.98         192.168.43.16         TCP      70     5060 → 48968 [PSH, ACK] Seq=872 Ack=1119 Win=335 Len=2 TSval=1288461421 TSecr=154057630

Frame 10: 70 bytes on wire (560 bits), 70 bytes captured (560 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.98, Dst: 192.168.43.16
Transmission Control Protocol, Src Port: 5060, Dst Port: 48968, Seq: 872, Ack: 1119, Len: 2

No.     Time        Source                Destination           Protocol Length Info
     11 09:53:21.05 192.168.43.16         192.168.43.98         TCP      68     48968 → 5060 [ACK] Seq=1119 Ack=874 Win=419 Len=0 TSval=154057717 TSecr=1288461421

Frame 11: 68 bytes on wire (544 bits), 68 bytes captured (544 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.16, Dst: 192.168.43.98
Transmission Control Protocol, Src Port: 48968, Dst Port: 5060, Seq: 1119, Ack: 874, Len: 0

No.     Time        Source                Destination           Protocol Length Info
     12 09:55:00.58 192.168.43.16         192.168.43.98         TCP      72     48968 → 5060 [PSH, ACK] Seq=1119 Ack=874 Win=419 Len=4 TSval=154107451 TSecr=1288461421

Frame 12: 72 bytes on wire (576 bits), 72 bytes captured (576 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.16, Dst: 192.168.43.98
Transmission Control Protocol, Src Port: 48968, Dst Port: 5060, Seq: 1119, Ack: 874, Len: 4

No.     Time        Source                Destination           Protocol Length Info
     13 09:55:00.58 192.168.43.98         192.168.43.16         TCP      70     5060 → 48968 [PSH, ACK] Seq=874 Ack=1123 Win=335 Len=2 TSval=1288560954 TSecr=154107451

Frame 13: 70 bytes on wire (560 bits), 70 bytes captured (560 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.98, Dst: 192.168.43.16
Transmission Control Protocol, Src Port: 5060, Dst Port: 48968, Seq: 874, Ack: 1123, Len: 2

No.     Time        Source                Destination           Protocol Length Info
     14 09:55:00.58 192.168.43.16         192.168.43.98         TCP      68     48968 → 5060 [ACK] Seq=1123 Ack=876 Win=419 Len=0 TSval=154107482 TSecr=1288560954

Frame 14: 68 bytes on wire (544 bits), 68 bytes captured (544 bits) on interface 0
Linux cooked capture
Internet Protocol Version 4, Src: 192.168.43.16, Dst: 192.168.43.98
Transmission Control Protocol, Src Port: 48968, Dst Port: 5060, Seq: 1123, Ack: 876, Len: 0
```


juha-h writes:

> I haven't been able to test the keepalives on Android yet when Websocket
> transport is used.

From RFC 7118:
```
   The WebSocket protocol [RFC6455] enables message exchange between
   clients and servers on top of a persistent TCP connection (optionally
   secured with Transport Layer Security (TLS) [RFC5246]).
```
So the same TCP keepalive mechanism is used also when SIP is using
Websocket transport and I don't see any reason for any Websocket specific
keepalive mechansm (at least on Linux or Android).


not all operating systems have TCP keepalive enabled by default.

the Websock keep-alive is on the application layer, and is used to keepalive
the TCP connection but also detect if the other endpoint stops responding.

for example a Carrier-grade NAT (CGN) can kill a TCP connection without
sending any packets to the endpoints.

the more keep-alives the better. for SIP we also use SIP outbound CRLF ping/pong.

https://tools.ietf.org/html/rfc5626


"Transmission Control Protocol (TCP) keepalives are an optional feature, and if included must default to off"
https://en.wikipedia.org/wiki/Keepalive#TCP_keepalive


Alfred E. Heggestad writes:

> the more keep-alives the better. for SIP we also use SIP outbound CRLF
> ping/pong.

OK.


I'm still a bit worried about power consumption in mobile devices if keepalives are sent every 15 sec.  It would be good if Websocket ping/pong interval could be configured rather than being hard-wired to 15000.


sure we can make the websock ping/pong interval configurable.

the original issue from @donaldkwak was that the Websocket connection
times out, so we should try to solve that one first. Increasing the ping pong
interval will most likely not help for this.


is there any way you can get a trace of the SIP traffic ?

I think we need to see the SIP traffic in order to understand what is going on.

does the same scenario work if the SIP transport is e.g. TCP ?

Captured the traffic, please see the pcap trace attached.

CLIENT: 192.168.1.65
SERVER PUBLIC: 123.123.123.123
SERVER PRIVATE: 10.10.19.17

[bsip_call_dump.pcap.zip](https://github.com/alfredh/baresip/files/3750678/bsip_call_dump.pcap.zip)



unfortunately the SIP traffic is encrypted with TLS (WSS).

I think you should first test if SIP over TCP is working properly
and that the SIP Server is configured correctly. 

@donaldkwak any progress on your side ?

instead of using a modified version of baresip on Android and SIP/WSS,
I think you should first test a simple scenario:

1. stock baresip from github
2. compile on a normal linux host
3. use TCP or UDP for SIP-transport

after this test we can determine where the problem is.

please also look in the Kamailio server log, perhaps it logs some relevant info.

you can also try to use this patch for additional SIP trace in baresip:

https://github.com/alfredh/re/commit/81a998c1d810282f470e440a689aa85c5b69a3bb


Alfred

It was not possible to check basic TCP or UDP signalling, the Kamailio is configured to be "SIP over websockets" only and i could not change the setup temporarily. But i gave JsSip a chance in order to check the signalling, it was ok with JsSip.

Thanks a lot for the tracing patch, i´ve patched my code and got the trace. In the trace there is a "Record-Route" to the internal IP, maybe this is a misconfiguration on Kamailio and baresip just does what it should?

Please see the *.txt file attached. Can you please have a look at it?

[bs_ws_re_trace.txt](https://github.com/alfredh/baresip/files/3778350/bs_ws_re_trace.txt)


your SIP trace contains only the responses, but all requests are missing.
please check that you have applied the patch correctly.


here is the 200 OK from your log:

```
Record-Route: <sip:123.123.123.123;r2=on;lr=on;ftag=a449d533117f6a2f;nat=yes>
Record-Route: <sip:10.10.19.17:443;transport=ws;r2=on;lr=on;ftag=a449d533117f6a2f;nat=yes>
```

in your case the ACK is sent to the last entry, i.e. 10.10.19.17
and after some re-sends the dialog will time out.


here is a different session using the sip.antisip.com server:

200 OK:
```
Record-Route: <sip:91.121.30.149;r2=on;lr=on;ftag=116d2b61d178b7ba>
Record-Route: <sip:91.121.30.149:5061;transport=tls;r2=on;lr=on;ftag=116d2b61d178b7ba>
```

ACK:
```
Route: <sip:91.121.30.149:5061;transport=tls;r2=on;lr=on;ftag=116d2b61d178b7ba>
Route: <sip:91.121.30.149;r2=on;lr=on;ftag=116d2b61d178b7ba>
```

The ACK will be sent to the first `Route` header. The list of route headers is
copied from Record-Route, in inverse order.

So my conclusion is that your SIP server is misconfigured, please fix your
server or report the problem to your provider.

This is not a bug in baresip. Before reporting the issue here, you have to
make sure that your setup is working properly first.


Alfred

I fully agree with your conclusion of what is going on. This would mean, that the Record-Routes maybe have not been inversed the way back to my baresip-client. But i am also a bit confused why i did not experience the same with JsSip yesterday.

Reported the issue to the kamailio service provider, still waiting for an answer.




I will close this issue now, as it is not a bug in baresip.
please re-open if you can prove that it is a bug in baresip.

for discussions, please use the re-devel mailing list.


You have been right, the kamailio server has not been configured correctly and JsSip just did not work that strict. The Record-Route with the internal IP has been updated to have the external IP instead.

Further testing leaded to the same error again and i saw that baresip switches the websocket connection from secure "wss" to unsecure "ws". Haven´t noticed this behaviour before but it was actually the same.

The kamailio developer i have spoken mentioned that in Record-Route "transport=ws" is correct even though it is a secure "wss" connection. I could not find the corresponding section in the RFC, but please see the following statement.

> Although WebSocket (PROTO_WS) and secure WebSocket (PROTO_WSS) are different internal protocols there is only one SIP transport type for both “;transport=ws” (WS and WSS are explicitly used in Via: headers though).  This means that you can’t tell whether the transport parameter in an R-URI, Route/Record-Route, or Contact-URI is for WebSockets or secure WebSockets.  As long as the message makes it into the WebSocket module everything will be OK as that module sorts it all out, but it has led to slightly more complex checks being required in some of the code relating to record-routing to handle this – and it may have an effect on other modules too.

http://www.kamailio.org/w/2012/07/websockets/
https://tools.ietf.org/html/rfc7118